body {
  background: #ddd;
  margin: 1rem;
  padding: 1rem;
  max-width: 500px;
  margin: 2rem auto;
  font-family: "Open Sans", sans-serif;
}

nav {
	border-bottom: 2px solid orange;
}

ol {
	padding-left: 0;
}

.crumb {
	margin-right: 2em;
	display: inline;
}

a {
	color: orange;
}

a:visited {
	color: crimson;
}


input {
	display: block;
}

img {
	max-width: 300px;
}

.awesome {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}
.hobbies{
	font-size: 15pt;
	margin: auto;
	font-weight: 600;
}
h1 {
	display: block;
	text-align: center;
}

ol {
	text-align: left;
}

.btn{
	background-color: yellow;
	padding: 30px;
	margin: 5px;
}